
.mat-button{
    background-color: inherit;
    text-align: left;
}
.example-spacer {
    flex: 1 1 auto;
  }

mat-sidenav-container{
height: auto;
}

mat-sidenav{
    width: 300px;
}
a{
    text-decoration: none;
}
a:focus{
   outline: transparent;
}
.active{
    background-color: #3f51b5;
    color: #FFFFFF;
}
mat-toolbar{
    cursor: pointer;
}
