
<mat-sidenav-container>
  <mat-sidenav mode="side" [(opened)]='opened'>
    <mat-toolbar color="primary">
      Menu
    </mat-toolbar>
    <mat-list>
      <a mat-list-item [routerLink]="['']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"> Home </a>
      <a mat-list-item [routerLink]="['posts']" routerLinkActive="active"> Posts </a>
      <a mat-list-item [routerLink]="['album']" routerLinkActive="active"> Albums </a>
      <a mat-list-item [routerLink]="['users']" routerLinkActive="active"> Users </a>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <mat-icon (click)='opened = !opened'>menu</mat-icon>
    </mat-toolbar>
    <mat-divider></mat-divider>
    <ng-content></ng-content>
  </mat-sidenav-content>
  
</mat-sidenav-container>