
  <footer  class="page-footer font-small blue pt-4">
    <div class="container-fluid text-center text-md-left">
      <div class="row">
        <div class="col-md-6 mt-md-0 mt-3">
          <h3 class="text-uppercase">Footer Content</h3>
          <p>Here you can use rows and columns to organize your footer content.</p>
        </div>
  
  
        <div class=" col-md-6 text-md-right px-5">
          <h3 class="text-uppercase px-4">Follow us</h3>
          <ul class="list-unstyled">
            <li>
              <a mat-button color="primary" href="#!">Link 1</a>
            </li>
            <li>
              <a mat-button color="primary" href="#!">Link 2</a>
            </li>
            <li>
              <a mat-button color="primary" href="#!">Link 3</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright text-center py-3">
        © 2020 Copyright
    </div>
  </footer>
