.container-flex {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    text-align: center;
    width: auto;
  }

  .container-flex > div {
    width: 520px;
    margin: 15px;
    text-align: left;
    margin-left: 70px;
  }
  @media only screen and (max-width: 600px) {
      .container-flex > div{
         margin-left: 0px;
         margin-right: 0px;
         overflow: hidden;
      }
  }
  @media only screen and (min-width: 600px) and (max-width: 1305px )
  {
    .container-flex > div {
      margin-left: 25%;
      margin-right: 25%;
    }
  }

  .card-header{
      height: 40px;
      overflow: hidden;
  }

  a:hover{
      cursor: pointer;
  }
  .container-flex > div > .card:hover{
     background-color: paleturquoise;
      
  }
  .card-header,.card-footer{
      border: 0;
  }