<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="">BlogPosts</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" [routerLink]="['']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" [routerLink]="['posts']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Posts</a>
        <a class="nav-item nav-link" [routerLink]="['album']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Album</a> 
        <a class="nav-item nav-link" [routerLink]="['users']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">User</a> 
      </div>
    </div>
  </nav>
