
.error-template {
    padding: 40px 15px;text-align: center;
}
.error-actions {
    margin-top:10px;margin-bottom:10px;
}
.error-actions .btn {
     margin-right:10px;
}

.heading{
    display: block;
    font-weight: bold;
    font-size: 20px;
}
.content{
    text-justify: auto;
}
.btn{
    margin-left: 90%;
}
.commentHeading{
    font-weight: bold;
    display: block;
    margin-left: 20px;
    border: 2px solid #D6D6D6;
    border-radius: 10px;
    width: 60%;
    margin-top: 3px;
    padding: 10px;
}
.commentBody{
    display: block;
    margin-left: 50px;
    border: 2px solid #D6D6D6;
    padding: 5px;
    margin-bottom: 3px;
    border-radius: 10px;
}
.con{
    height: 400px;
}
.commentDiv{
    border: 1px solid #D6D6D6;
    margin: 2px;
    border-radius: 10px;
}
.commentCls{
    overflow-y: auto;
    height: 250px;
    border: 3px solid #D6D6D6;
}