<div class="container-flex my-5 mx-5" *ngIf="check() ; else noDataFound">
    <ng-container *ngFor="let items of photos">
        <div *ngIf="id == items.albumId">
            <div class="card">
                <div class=card-body>
                    <img src={{items.url}}>
                </div>
            </div>
        </div>
    </ng-container>
</div>
<ng-template #noDataFound >
    <div class="container my-5" [class.d-none]="display">
        <div class="row">
            <div class="col-md-12">
                <div class="error-template">
                    <h1>
                        Oops!</h1>
                    <h2>
                        Data Not Found</h2>
                    <div class="error-details">
                        Sorry, an error has occured, Requested page not found!
                    </div>
                    <div class="error-actions">
                        <a  class="btn btn-primary btn-lg" [routerLink]="['../../']"><span class="glyphicon glyphicon-home"></span>
                            Take Me Album </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</ng-template>
