.container-flex {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    text-align: center;
  }

  .container-flex > div {
    width: 18%;
    margin: 10px;
    text-align: center;
  }
  .card-body{
      height: 90px;
      overflow: hidden;
  }

  a:hover{
      cursor: pointer;
  }
  .container-flex > div > .card:hover{
     background-color: paleturquoise;
      
  }
  .card-body{
    height:150px;
  }
 
  .error-template {
    padding: 40px 15px;text-align: center;
}
.error-actions {
    margin-top:15px;margin-bottom:15px;
}
.error-actions .btn {
     margin-right:10px;
}
.container{
    height: 350px;
}

@media only screen and (max-width: 700px) and (min-width: 300px){
  .container-flex > div{
     margin-left: 10%;
     width: 80%;
     margin-right: 10%;
     overflow: hidden;
  } 
  .card-body{
    height: 250px;
  }
}

@media only screen and (min-width: 700px) and (max-width: 1200px){
  .container-flex > div{
     margin: 10%;
     width: 30%;
     overflow: hidden;
  } 
  .card-body{
    height: 250px;
  }
}
mat-card{
  border: 1px solid #D6D6D6
}
mat-card-content{
  height:50px;
  
}
a{
  text-decoration: none;
}
.mat-raised-button{
  background-color: #007bff;
  color: white;
}
.spacer {
  flex: 1 1 auto;
}