
.error-template {
    padding: 40px 15px;text-align: center;
}
.error-actions {
    margin-top:10px;margin-bottom:10px;
}
.error-actions .btn {
     margin-right:10px;
}
  mat-card-content{
      height: 80%;
  }

  .commentTitle{
      font-size: 15px;
      overflow: hidden;
  }
  .commentBody{
      border-radius: 10%;
      border: 1px solid #D6D6D6;
      overflow: hidden;
  }
  .titleBody{
      height:20%;
  }
  a{
      text-decoration: none;
  }
  .spacer{
    flex: 1 1 auto;
  }
  .spacer > .mat-raised-button{
      color: #ffffff;
  }
  