<div class="container con  my-5" *ngIf="check(); else elseBlock">
    <ng-container *ngFor="let items of users">
        <div *ngIf="id == items.id">
            <div class="card">
                <div class="card-header">
                        <h5>User details</h5>
                        <a [routerLink]="['../']"><button class="btn btn-primary float-right">Back</button></a>
                </div>
                <div class="card-body">
                    <div class="heading">
                        Personal Details : {{display}}
                    </div>
                    <div class="header">
                        Name :
                    </div>
                    <div class="details">
                        {{items.name}}
                    </div>
                    <div class="header">
                        User Name :
                    </div>
                    <div class="details">
                        {{items.username}}
                    </div>
                    <div class="header">
                        Email :
                    </div>
                    <div class="details">
                        {{items.email}}
                    </div>
                    <div class="header">
                        Phone :
                    </div>
                    <div class="details">
                        {{items.phone}}
                    </div>
                    <div class="heading">
                        Address Details :
                    </div>
                    <div class="header">
                        Street :
                    </div>
                    <div class="details">
                        {{items.address.street}}
                    </div>
                    <div class="header">
                        City : 
                    </div>
                    <div class="details">
                        {{items.address.city}}
                    </div>
                    <div class="header">
                        Pin Code :
                    </div>
                    <div class="details">
                        {{items.address.zipcode}}
                    </div>
                    <div class="heading">
                        Company Details:
                    </div>
                    <div class="header">
                        Comapany name : 
                    </div>
                    <div class="details">
                        {{items.company.name}}
                    </div>
                    <div class="header">
                        Catch phrase :
                    </div>
                    <div class="details">
                        {{items.company.catchPhrase}}
                    </div>
                    <div class="header">
                        Business :
                    </div>
                    <div class="details">
                        {{items.company.bs}}
                    </div>
                    
                </div>
            </div>
        </div>
    </ng-container>
</div>
<ng-template #elseBlock>
    <div class="container cont my-5" [class.d-none]="display">
        <div class="row">
            <div class="col-md-12">
                <div class="error-template">
                    <h1>
                        Oops!</h1>
                    <h2>
                        Data Not Found</h2>
                    <div class="error-details">
                        Sorry, an error has occured, Requested page not found!
                    </div>
                    <div class="error-actions">
                        <a  class="btn btn-primary btn-lg" [routerLink]="['../']"><span class="glyphicon glyphicon-home"></span>
                            Take Me Users </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</ng-template>

