<div id="slider">
    <figure>
          <img src="../assets/Image/img1.jpg">
          <img src="../assets/Image/blog.webp">
          <img src="../assets/Image/family-blog.jpg">
    </figure>
</div>