<mat-toolbar>
    <span>Post Details</span>
    <span class="spacer">
        <a mat-raised-button color="primary" [routerLink]="['/posts']" class="my-2 mx-2 float-right">Back</a>
    </span>
</mat-toolbar>
<app-loader *ngIf="loader.isLoading | async"></app-loader>
<ng-container *ngIf="check(); else elseBlock">
    <ng-container *ngFor="let post of posts">
        <ng-container *ngFor="let user of users">
           
            <mat-card class="my-5 mx-5" *ngIf="id == post.id && user.id==post.userId">
                <mat-card-title>
                    {{post.title}}
                </mat-card-title>
                <mat-divider></mat-divider>
                <mat-card-content align="start" class="py-5 titleBody">{{post.body}}</mat-card-content>
                <mat-card-actions align="end"><button color="primary" mat-raised-button color="primary" (click)="commentDisplayed = !commentDisplayed">
                    comments({{comment()}})
                </button> </mat-card-actions>
                <div [class.d-none]="commentDisplayed">
                    <ng-conatiner  *ngFor="let comment of comments">
                        <ng-conatiner *ngIf="id == comment.postId">
                            <mat-card class="my-1 mx-5 commentBody">
                                <mat-card-title class="my-1 commentTitle">
                                    {{comment.name+" ("+comment.email+")"}}
                                </mat-card-title>
                                <mat-divider></mat-divider>
                                <mat-card-content>{{comment.body}}</mat-card-content>
                            </mat-card>
                        </ng-conatiner>
                    </ng-conatiner>
                </div>
                
            </mat-card>
            
        </ng-container>
    </ng-container>
</ng-container>
<ng-template #elseBlock>
    <div class="container cont my-5" [class.d-none]="display">
        <div class="row">
            <div class="col-md-12">
                <div class="error-template">
                    <h1>
                        Oops!</h1>
                    <h2>
                        Data Not Found</h2>
                    <div class="error-details">
                        Sorry, an error has occured, Requested page not found!
                    </div>
                    <div class="error-actions">
                        <a  class="btn btn-primary btn-lg" [routerLink]="['../']"><span class="glyphicon glyphicon-home"></span>
                            Take Me Posts </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>
