.container-flex {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    text-align: center;
    width: auto;
  }
  .container-flex > div > mat-card:hover{
    border: 1px solid #3db5eb;
 }
  .container-flex > div {
    width: 40%;
    margin: 15px;
    text-align: left;
    margin-left: 6%;
  }
  @media only screen and (max-width: 600px) {
      .container-flex > div{
        width: 100%;
         margin-left: 0px;
         margin-right: 0px;
         overflow: hidden;
      }
  }
  @media only screen and (min-width: 600px) and (max-width: 1305px )
  {
    .container-flex > div {
      margin: auto;
      width:510;
    }
  }

  a:hover{
      cursor: pointer;
  }
  .mat-raised-button{
    background-color: #007bff;
  }
  a{
    text-decoration: none;
  }
  .mat-card{
    border: 1px solid #D6D6D6;
  }
  .details{
    display: inline-block;
    width: 60%;
}
.header{
  display: inline-block;
  font-weight: bolder;
  width: 30%;
  margin-left: 10%;
}
.heading{
  display: block;
  font-weight: bolder;
  padding: 10px;
}
mat-panel-title{
  padding: 10px;
  font-weight: bold;
  font-size: 13px;
}
mat-card-title{
  font-size: 15px;
}