<mat-toolbar color="primary"> Posts</mat-toolbar>
<app-loader *ngIf="loader.isLoading | async"></app-loader>
<div class="container-flex mx-5">
    <div  *ngFor="let post of posts | slice:currentPage*dataLen:(currentPage+1)*dataLen">
        <mat-card class="my-1">
            <mat-card-title align="start">
                {{post.id +".   "+post.title}} 
            </mat-card-title>
            <mat-card-actions align="end">
                <a mat-raised-button [routerLink]="['/posts',post.id]">View post</a>
            </mat-card-actions>
        </mat-card>
    </div>
</div>

<mat-paginator [length]="totalPage"
              [pageSize]="dataLen"
              (page)="pageEvent = $event; currentPage=pageEvent.pageIndex">
</mat-paginator>
