.page-link {
    cursor: pointer !important;
}

.navigation a{
    background-color: silver;
}
.container-flex{
    display:flex;
    flex-wrap: wrap;

}
.container-flex {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    text-align: center;
  }

  .container-flex > div {
    width: 520px;
    margin: 15px;
    text-align: left;
    margin-left: 70px;
    overflow: hidden;
  }
  .card-header{
      height: 40px;
  }

  a:hover{
      cursor: pointer;
  }
  .container-flex > div > .card:hover{
     background-color: paleturquoise;
      
  }
  .card-header,.card-footer{
      border: 0;
  }
  .card-footer{
      height: auto;
  }
  a{
      text-decoration: none;
  }
  @media only screen and (min-width: 300px) and (max-width: 700px){
    .container-flex > div{
       margin-left: 15%;
       margin-right: 15%;
       overflow: hidden;
    } 
    .card-header{
      height: 100px;
    }
  }
  @media only screen and (min-width: 700px) and (max-width: 1200px){
    .container-flex > div{
       margin-left: 15%;
       margin-right: 15%;
       width: 100%;
       overflow: hidden;
    } 
    .card-header{
      height: 100px;
    }
  }
  @media only screen and (min-width: 1200px){
    .container-flex > div{
       overflow: hidden;
       margin-left: 2%;
       margin-right: 2%;
       width: 46%;
    } 
    .card-header{
      height: 100px;
    }
  }

  .mat-raised-button{
    background-color: #007bff;
  }