.page-link {
    cursor: pointer !important;
}

.navigation a{
    background-color: silver;
}
.container-flex{
    display:flex;
    flex-wrap: wrap;

}
.container-flex {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    text-align: center;
  }

  .container-flex > div {
    width: 520px;
    margin: 15px;
    text-align: left;
    margin-left: 70px;
    overflow: hidden;
    height: 40%;
  }
  
  a:hover{
      cursor: pointer;
  }
  /* .container-flex > div > mat-card:hover{
     background-color: paleturquoise;
      
  } */

  a{
      text-decoration: none;
  }
  @media only screen and (min-width: 300px) and (max-width: 700px){
    .container-flex > div{
       margin-left: 15%;
       margin-right: 15%;
       overflow: hidden;
    } 
  }
  @media only screen and (min-width: 700px) and (max-width: 1200px){
    .container-flex > div{
       margin-left: 15%;
       margin-right: 15%;
       width: 100%;
       overflow: hidden;
    } 
  }
  @media only screen and (min-width: 1200px){
    .container-flex > div{
       overflow: hidden;
       margin-left: 2%;
       margin-right: 2%;
       width: 46%;
    } 
  }


  mat-card-title{
    font-size: 17px;
    height: 70%;
  }
  mat-card{
    height: 100%;
    border: 1px solid #D6D6D6;
  }
  mat-card-action{
    height: 30%;
  }