<div class="container-flex my-5 mx-5">
    <div  *ngFor="let items of users">
        <div class="card">
            <div class=card-header>
                {{items.id +".   "+items.name}} 
            </div>
            <div class=card-footer>
                <a class="float-right" [routerLink]="['/users',items.id]">click</a>
            </div>
        </div>
    </div>
</div>