.container-flex {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    text-align: center;
  }

  .container-flex > div {
    width: 520px;
    margin: 15px;
    text-align: left;
    margin-left: 70px;
  }
  .card-header{
      height: 40px;
      overflow: hidden;
  }

  a:hover{
      cursor: pointer;
  }
  .container-flex > div > .card:hover{
     background-color: paleturquoise;
      
  }
  .card-header,.card-footer{
      border: 0;
  }