
<div class="container-flex my-5 mx-5">
    <div  *ngFor="let items of posts | slice:startIndex:lastIndex">
        <div class="card">
            <div class=card-header>
                {{items.id +".   "+items.title}} 
            </div>
            <div class=card-footer>
                <a class="float-right" [routerLink]="['/posts',items.id]">click</a>
            </div>
        </div>
    </div>
</div>

<div class="my-3">
    <nav aria-label="Page navigation"> 
        <a class="page-link float-left my-3 mx-3"  *ngIf="currentPage > 0" (click)='nextPrevious(false)'>Previous</a>
        <a class="page-link float-right my-3 mx-3" *ngIf="currentPage+1 < totalPage" (click)='nextPrevious(true)'>Next</a>
    </nav>
</div>
