.container-flex {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    text-align: center;
  }

  .container-flex > div {
    width: 220px;
    text-align: center;
    margin-left: 25px;
  }

  a:hover{
      cursor: pointer;
  }
  .container-flex > div > mat-card:hover{
     background-color: paleturquoise;
      
  }
  @media only screen and (max-width: 300px) {
    .container-flex > div{
       margin-left: 0px;
       overflow: hidden;
    }
}
@media only screen and (max-width: 700px) and (min-width: 300px){
  .container-flex > div{
     margin-left: 10%;
     width: 80%;
     margin-right: 10%;
     overflow: hidden;
  } }

  @media only screen and (max-width: 1338px) and (min-width: 700px){
    .container-flex > div{
       margin-left: 10%;
       width: 30%;
       margin-right: 10%;
       overflow: hidden;
    } }

    .mat-raised-button{
      background-color: #007bff;
    }
    a{
       text-decoration: none;
    }
    mat-card{
       height: 165px;
    }
    mat-card-title{
       text-align: left;
       font-size: 15px;
       height: 55px;
       padding: 2px;
    }
    mat-card-action{
       vertical-align: bottom;
    }