<mat-toolbar color="primary">
    <span>Albums</span>
</mat-toolbar>
<app-loader *ngIf="loader.isLoading | async"></app-loader>
<div class="container-flex my-5 mx-5">
    <div  *ngFor="let album of albums | slice: currentPage*dataLen:(currentPage+1)*dataLen">
        <ng-container *ngFor="let user of users">
            <ng-container *ngIf="user.id == album.userId">
                <mat-card class="my-1">
                   <mat-card-title>{{album.id + "  " + album.title }} </mat-card-title>
                   <mat-card-content align="end">by : {{user.name}}</mat-card-content>
                   <mat-card-actions align="end"><a mat-raised-button [routerLink]="['gallery',album.id]">View Photos</a></mat-card-actions>
                </mat-card>
            </ng-container>
        </ng-container>
        
    </div>
</div>

<mat-paginator [length]="totalPages"
              [pageSize]="dataLen"
              (page)="pageEvent = $event; currentPage=pageEvent.pageIndex">
</mat-paginator>
